
      <section id="sitelogo">
        <a href="{{ SITEURL }}/" name="josh's internet scrapyard"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo.png" alt="logo for josh's internet scrapyard"/></a>
      </section>
      <!-- Hamburger icon -->
      <a href="#" class="mobile-nav--open" id="open-mobile-menu" rel="nofollow">
        <span class="sr-only"></span>
      </a>
      <nav id="menu"><ul>
        {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
            <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
        {% endif %}
        {% if DISPLAY_PAGES_ON_MENU %}
          {% for p in pages %}
            <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
          {% endfor %}
        {% endif %}
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}" target="_blank" rel="nofollow">{{ title }}</a></li>
        {% endfor %}
        </ul>
      </nav>
      <div id="header-social">
          <a class="social-icon" name="link to twitter profile" href="https://twitter.com/_catmeister_" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_twitteri.gif" alt="pixel twitter logo"></a>
          <a class="social-icon" name="link to instagram profile" href="https://www.instagram.com/_catmeister_/" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_ig.gif" alt="pixel instagram logo"></a>
          <a class="social-icon" name="link to itch.io account" href="https://catmeister.itch.io/" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_itch.gif" alt="pixel itch.io logo"></a>
          <a class="social-icon" name="link to ko-fi account" href="https://ko-fi.com/catmeister" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_ko-f2i.gif" alt="pixel ko-fi logo"></a>
      </div>
      <div id="mobile-menu" class="">
        <a id="mobilemenulogo" name="josh's internet scrapyard" href="{{ SITEURL }}/"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/secretsauce.png" alt="josh's dismembered head"/></a>
        <a href="#" class="mobile-nav--close" id="close-mobile-menu" rel="nofollow">
          <span class="sr-only"></span>
        </a>
        <nav id="mobile-nav"><ul>
          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
              <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
          {% endif %}
          {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          </ul>
        </nav>
        <div id="mobile-social">
          <a class="social-icon" name="link to twitter profile" href="https://twitter.com/_catmeister_" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_twitteri.gif" alt="pixel twitter logo"></a>
          <a class="social-icon" name="link to instagram profile" href="https://www.instagram.com/_catmeister_/" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_ig.gif" alt="pixel instagram logo"></a>
          <a class="social-icon" name="link to itch.io account" href="https://catmeister.itch.io/" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_itch.gif" alt="pixel itch.io logo"></a>
          <a class="social-icon" name="link to ko-fi account" href="https://ko-fi.com/catmeister" target="_blank"><img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/social_links_ko-f2i.gif" alt="pixel ko-fi logo"></a>
        </div>
      </div>
      <!-- /#menu -->