{% extends "base.html" %}
{% block content %}

{% if output_file == 'index.html' or output_file == 'categories/artz.html' %}
    <section id="portfolio-content">
    {% include 'index-portfolio-grid.html' %}
{% else %}
    <section id="content">
    {% block content_title %}
    <h2>All articles</h2>
    {% endblock %}
    {% include 'index-blog-list.html' %}
{% endif %}

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
