{% for article in articles_page.object_list  %}
<a class="wordz" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
    <article class="hentry wordz">
            <header> <h2 class="entry-title">{{ article.title }}</h2> </header>
            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
            <footer class="post-info">
                <address class="vcard author">
                {% for author in article.authors %}
                    {{ author }}
                {% endfor %}
                </address>
                on <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.date.strftime('%Y-%m-%d') }} </time>
            </footer><!-- /.post-info -->
    </article>
</a>

{% endfor %}