<a class="kofi-link" href="https://ko-fi.com/catmeister" target="_blank" rel="nofollow">
    <div class="kofi-promo">
        <div class="kofi-button">
            <img class="kofi-button" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/kofi-cup.png" alt="support me on ko-fi"/>
            <span class="kofijoin">
                <span>J</span>
                <span>o</span>
                <span>i</span>
                <span>n</span>
                <span>&nbsp;</span>
                <span>m</span>
                <span>e</span>
                <span>&nbsp;</span>
                <span>o</span>
                <span>n</span>
                <span>&nbsp;</span>
                <span>K</span>
                <span>o</span>
                <span>-</span>
                <span>f</span>
                <span>i</span>
                <span>!</span>
            </span>
        </div>
        <div class="kofi-content">
            Like this? Get more on Kofi! Discounts! Early Stuff! Exclusive Stuff!
        </div>
    </div>
</a>

